/******************/
/* GENERAL STYLES */
/******************/

html { 
	background: #ccc; 
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-transform: none;
	text-decoration: none;
	list-style: none;
	font-family: "Verdana", Verdana, sans-serif;
	color: #888;
	font-size: 14px;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.border {
	border: 1px solid #d0d0d0;
}

.borderTop {
	border-top: 1px solid #d0d0d0;	
}

.rCSmall {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.rCTop {
	-webkit-border-top-left-radius: 10px;
	   -moz-border-top-left-radius: 10px;
	        border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	   -moz-border-top-right-radius: 10px;
	        border-top-right-radius: 10px;	
}

.rCBottom {
	-webkit-border-bottom-left-radius: 3px;
	   -moz-border-bottom-left-radius: 3px;
	        border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	   -moz-border-bottom-right-radius: 3px;
	        border-bottom-right-radius: 3px;	
} 

.bShadowDark {
	-webkit-box-shadow: 1px 3px 25px #999;
	   -moz-box-shadow: 1px 3px 25px #999;
	        box-shadow: 1px 3px 25px #999;
}

.bShadowLight {
	-webkit-box-shadow: 1px 2px 5px #d0d0d0;
	   -moz-box-shadow: 1px 2px 5px #d0d0d0;
	        box-shadow: 1px 2px 5px #d0d0d0;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.fullWidth {
	width: 100%;
	clear: both;
	display: block;
}

.highlightB {
	font-weight: bold;
}

.highlightI {
	font-style: italic;
}

.smallText {
	font-size: 12px;
}

.uC {
	text-transform: uppercase;
}
/************/
/* ELEMENTS */
/************/

.textInput {
	width: 165px;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: inset 3px 3px 7px #d0d0d0;
	   -moz-box-shadow: inset 3px 3px 7px #d0d0d0;
	        box-shadow: inset 3px 3px 7px #d0d0d0;
	background: #f6f6f6;
	height: 25px;
	border: none;
	padding: 0 5px;
}

.btnBlack {
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: black;
		background-image: -webkit-gradient(linear, top, from(black), to(#323232));
		background-image: -webkit-linear-gradient(top, black, #323232);
		background-image: -moz-linear-gradient(top, black, #323232);
		background-image: linear-gradient(top, black, #323232);
	height: 25px;
	line-height: 25px;
	border: none;
	color: #eee;
	padding: 0 10px;
	font-size: 12px;
	cursor: pointer;
}

.draggable {
	cursor: pointer;
}

/*********/
/* AREAS */
/*********/

.content {
	padding: 10px;
	width: 1024px;
	height: 560px;
	margin: auto;
	background: #fff;
}

.canvasArea {
	width: 440px;
	height: 540px;
	overflow: hidden;
	position: relative;
}

.rightColumn {
	width: 555px;
	height: 540px;
}

.elementsArea {
	width: 340px;
	height: 485px;
	margin-right: 10px;
	position: relative;
}

.toolBar {
	width: 205px;
	height: 485px;
}

.message {
	padding: 10px;
}

/**************************/
/* ELEMENTOS DO CONTAINER */
/**************************/

.containerMenu {
	position: absolute;
	top: 0;
	height: 35px;
	z-index: 1;
}
	.containerMenu li {
		width: 25%;
		height: 35px;
		line-height: 35px;
		text-align: center;
		background: #c8c8c8;
		float: left;
		cursor: pointer;
		color: #555;
	}
	.containerMenu li.active {
		height: 36px;
		background: white !important;
		border-bottom: 1px solid white !important;
	}

.containerContent, .pages {
	position: absolute;
	top: 35px;
	height: 440px;
	z-index: 0;
}

.category {
	display: none;
	overflow: hidden;
	position: relative;
	padding: 10px;
	width: 100%;
	height: 100%;
}
.category.active {
	display: block;
}

.catElements {
	position: absolute;
	width: 100%;
}
	.catElements li {
		display: block;
		position: relative;
		width: 100px;
		height: 90px;
		cursor: pointer;
		overflow: hidden;
		margin-right: 9px;
		margin-bottom: 13px;
		text-align: center;
		padding: 5px;
	}
	.catElements li.disabled {
		border: 3px solid #000;
		opacity: 0.6;
		background: #efefef;
	}
		.catElements li img.noResize {
			height: auto;
			width: auto;
		}
		.catElements li img.vertical {
			height: 100%;
			width: auto;
		}
		.catElements li img.horizontal {
			width: 100%;
			height: auto;
		}
		.catElements li .label {
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.8);
			padding: 5px;
			text-align: left;
		}
			.catElements li .label h3 {
				font-size: 11px;
				color: white;
				margin-bottom: 5px;
			}
			.catElements li .label h4 {
				font-size: 10px;
				font-weight: lighter;
				color: #ddd;
			}

.controller {
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
	display: block;
	z-index: 5;
	height: 27px;
	line-height: 27px;
	text-align: center;
}
	.controller span {
		font-size: 12px;
		padding: 0 5px;
		cursor: pointer;
	}
	.controller span:hover {
		color: #000;
	}
	.controller .page.active {
		font-weight: bold;
	}
	.controller .previous {
		height: 27px;
		line-height: 27px;
	}

.menu {
	margin: 10px 0;
}
	.menu li {
		line-height: 25px;
		padding: 0 5px;
		cursor: pointer;
	}
	.menu li:hover {
		background: #aaa;
		color: white;
	}
	.menu li.selected {
		background: #333;
		color: white;
	}

.pages {
	position: relative;
}
.pages>li {
	display: none;
	overflow: hidden;
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.pages>li.selected {
	display: block;
}

.searchResults {
	font-size: 11px;
	font-weight: bold;
	padding: 10px 5px;
}
	.searchResults li {
		font-weight: lighter;
		line-height: 20px;
		margin-top: 5px;
		font-size: 13px;
	}

.dressed {
	position: absolute;
	margin-top: 0 !important;
}

.fundo {
	z-index: 0
}

.modelo {
	z-index: 2
}

.fav {
	width: 18px;
	height: 18px;
	background: url(images/favProd.png);
	position: absolute;
	top: -25px;
	right: 5px;
	cursor: pointer;
	opacity: 0.4;
}

.fav:hover {
	opacity: 0.8;
}

.fav.selected {
	opacity: 1;
	background: url(images/favProd_s.png);
}